h1 {
  font-size: 10rem;
  font-weight: 700;
  color: rgba(18, 18, 18, 0.85);
}

p {
  margin: 20px auto;
}

a {
  color: #121212;
  text-decoration: none;
  border-bottom: 1px solid #121212;
}

a:hover {
  cursor: pointer;
}
